*{
	box-sizing: border-box;
}

body{
	background-color: #333;
	color: #eee;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Arial, Helvetica, Sans-Serif;
	margin: 0;
}

#canvas{
	background: #193D3F;
	border-radius: 5px;
	
	image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}